0rodru1n.duckdns.org {
  encode gzip

  route {
    handle_path /api {
      reverse_proxy backend:3000
    }

    handle_path /api/* {
      reverse_proxy backend:3000
    }

    handle {
      reverse_proxy frontend:80
    }
  }
}
